Exeption handing and File Handling

In [3]:
try:
    int('Husan')
    pass
except ValueError:
    print('san value error bn xato qilding')

san value error bn xato qilding

In [4]:
try:
    int('Husan')
    pass
except NameError:
    print('san value error bn xato qilding')

ValueError: invalid literal for int() with base 10: 'Husan'

In [6]:
try:
    int(ssss)
    pass
except NameError:
    print('san value error bn xato qilding')

san value error bn xato qilding

In [7]:
print(int(Husan))

NameError: name 'Husan' is not defined

In [8]:
try:
    name = 'alex'
    print(name1)
except (TypeError,NameError):
    print('san value error bn xato qilding')

san value error bn xato qilding

In [ ]:
try:
    name = 'alex'
    print(name1)
except (TypeError,NameError):
    print('san value error bn xato qilding')

In [9]:
try:
    name = 'alex'
    name + 20
    print(name1)
    print('Hello Uzb')
except Exception:
    print('san value error bn xato qilding')

san value error bn xato qilding

In [10]:
try:
    name = 'alex'
    name + 20
    print(name1)
    print('Hello Uzb')
except Exception:
    pass

In [12]:
try:
    name = 'alex'
    name + 20
    print('Hello Uzb')
except TypeError:
    print('Type error occured')
else:
     print('Hello Python')

Type error occured

In [ ]:
try:
    name = 'alex'
    #name + 20
    print('Hello Uzb')         ### try da xato bulmasa else ishlidi
except TypeError:                ## agar try da xato bulsa except ishlidi
    print('Type error occured')
else:
     print('Hello Python')

Hello Uzb
Hello Python

In [ ]:
try:
    name = 'alex'
    ## name + 20
    print('Hello Uzb')         ### try da xato bulmasa else ishlidi
except TypeError:                ## agar try da xato bulsa except ishlidi
    print('Type error occured')
else:
     print('Hello Python')
finally:                                 ### xato bulsa xam bulmasa xam ishlidi
    print('toy tugadi hamma uyiga')

Hello Uzb
Hello Python
toy tugadi hamma uyiga

In [ ]:
### File handling ----- fayllar bn ishlash

In [ ]:
with open('xlz.txt','r') as f:
    data = f.read()               ## hammasini ukiydi
data

'12333333 3333 333 \n'

In [ ]:
with open('xlz.txt','r') as f:
    data = f.read(3)            ## faqat 3 tasini ukiydi
data

'123'

In [ ]:
with open('xlz.txt','r') as f:
    data = f.read(3)            ## faqat 3 tasini ukiydi
    data2 = f.read(3)           ## faqat keyingi 3 tasini ukiydi(kegandan keyingi 3 tani)
data2

'333'

In [ ]:
with open('C:\\1111111111\\fff.txt','r') as f:
    data = f.read()            
data

'man ketdim'

In [38]:
with open('C:\\1111111111\\fff.txt','r') as f:
    data = f.read(3)                          ## faqat 3 tasini ukiydi
data

'man'

In [37]:
with open(r'C:\1111111111\fff.txt','r') as f:
    data = f.read(3)            ## faqat 3 tasini ukiydi
data

'man'

In [39]:
with open('xlz.txt','r') as f:
    data = f.read(11)
    f.seek(0)           
    data2 = f.read(11)       
print(data)
print(data2)

Uzbekiston
Uzbekiston

In [40]:
with open('xlz.txt','r') as f:
    data = f.read(11)
    f.seek(0)           
    data2 = f.read(11)    
    f.seek(5)
    data3 = f.read(11)        
print(data)
print(data2)
print(data3)

Uzbekiston
Uzbekiston
iston buyuk

In [41]:
with open('xlz.txt','r') as f:
    data = f.read(11)
    f.seek(0)           
    data2 = f.read(11)    
    f.seek(2)
    data3 = f.read(11)        
print(data)
print(data2)
print(data3)

Uzbekiston
Uzbekiston
bekiston bu

In [43]:
with open('xlz.txt','r') as f:
    data = f.read(11)
    f.seek(0)           
    data2 = f.read(11)    
    f.seek(2)
    data3 = f.read(8)        
print(data)
print(data2)
print(data3)

Uzbekiston
Uzbekiston
bekiston

In [ ]:
with open('students.txt') as f:              ### 1 ta qatorni oladi
    data = f.readline()
data

'Akmal\n'

In [ ]:
with open('students.txt') as f:       ### 1 ta qatorni oladi
    data = f.readline()
    data2 = f.readline()
data2

'Bob\n'

In [46]:
with open('students.txt') as f:       ### 1 ta qatorni oladi
    data = f.readlines()
data

['Akmal\n', 'Bob\n', 'Malika\n', 'Sarvar']

In [ ]:
with open ('Uzbekistan.txt','w') as f:  ### yozadi
    f.write('Uzb is equal Uzb')

In [48]:
with open ('Uzbekistan.txt','w') as f:
    f.write('fdgdf fgf ndgj')

In [ ]:
with open ('Uzbekistan.txt','a') as f:  #### kushadi append a ishlatdik
    f.write('\nUzb is equal Uzb')