TAKRORLASH

In [18]:
ls = [[1,2,3],[4,5,6],[7,8,9]]
new_list = ls[0]+ls[1]+ls[2]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
ls = [[1,2,3],[4,5,6],[7,8,9]]
new_list = []
for m in ls:
    new_list.extend(m)
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
letters = ['A','B','C']
numbers = [1,2,3,4]

#A1
#A2
#A3
#A4
#...

for a in letters:
    for b in numbers:
        print(a+str(b))

A1
A2
A3
A4
B1
B2
B3
B4
C1
C2
C3
C4

In [24]:
for a in letters:
    for b in numbers:
        print(f"{a}{b}")

A1
A2
A3
A4
B1
B2
B3
B4
C1
C2
C3
C4

In [26]:
ls = [1,2,3,4,5,6,7,8,9]
ls2 = [4,7,1]
for a in ls:
    if a not in ls2:
        print(a**2)

4
9
25
36
64
81

In [34]:
ls = [1,2,3,4,1,5,6,4,6,7,8,1,3,4,8,9,1,5]

# d = {1:4, 2:1...}
d= {}
for a in set(ls):
    d [a]= ls.count(a)
print(d)

{1: 4, 2: 1, 3: 2, 4: 3, 5: 2, 6: 2, 7: 1, 8: 2, 9: 1}

In [36]:
ls = [1,2,3,4,1,5,6,4,6,7,8,1,3,4,8,9,1,5]
d = {}
for num in ls:
    if num not in d.keys():
        d[num] = 1
    else:
        d[num] = d[num] + 1   
d

{1: 4, 2: 1, 3: 2, 4: 3, 5: 2, 6: 2, 7: 1, 8: 2, 9: 1}

In [45]:
txt = "We are learning python and sql, both tools are important for data managment"

def count_wovels(message):
    wovels = 'aouie'
    num = 0
    for letter in message:
        if letter.lower() in wovels:
            num = num + 1
    return num
count_wovels(txt)

22

In [46]:
txt = "We are learning python and sql, both tools are important for data managment"

def count_wovels(message):
    wovels = 'aouie'
    num = 0
    for letter in message:
        if letter.lower() not in wovels:
            num = num + 1
    return num
count_wovels(txt)

53

In [52]:
ls = ['Amerikaliklarda', 'rivojlantirilmoqda', 'Uzbekistan', 'Tashkent', 'samaradorlik']

for word in ls:
    unli_soni = count_wovels(word)
    if unli_soni >=5:
        undosh_soni = len(word) - unli_soni
        print(word,undosh_soni)

Amerikaliklarda 8
rivojlantirilmoqda 11
samaradorlik 7

In [61]:
d ={"word1":'Amerikaliklarda', "word2":'rivojlantirilmoqda', "word3":'Uzbekistan', "word4":'Tashkent', "word5":'samaradorlik'}

for value in d:
    unli_soni = count_wovels(value)
    print(value,unli_soni)

word1 1
word2 1
word3 1
word4 1
word5 1

In [ ]:
## d da value unlilari buyicha sortirovka qilsin
d ={"word1":'Amerikaliklarda', "word2":'rivojlantirilmoqda', "word3":'Uzbekistan', "word4":'Tashkent', "word5":'samaradorlik'}
dict(sorted(d.items(), key=lambda x: count_wovels(x[1])))

{'word4': 'Tashkent',
 'word3': 'Uzbekistan',
 'word5': 'samaradorlik',
 'word1': 'Amerikaliklarda',
 'word2': 'rivojlantirilmoqda'}